<table style="width: 70%;" border="1">
<tbody>
<tr>
<td>Id</td>
<td>Producto</td>
<td>Precio</td>
<td>Imagen</td>
</tr>
<td>{{id}}</td>
<td>{{nombre}}</td>
<td>{{precio}}</td>
<td>{{imagen}}</td>
</tr>
</tbody>
</table>