  <table>
    <thead>
      <tr>

        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each productsList as |p|}}
          <td>{{p.id}}</td>
          <td>{{p.title}}</td>
          <td>{{p.price}}</td>
          {{/each}}
      </tr>
    </tbody>
  </table>