<h2 style="color:crimson;">Historial</h2>

<% const hayProductos = productos.length > 0; %>
<% if(hayProductos){ %>
<table>
    <tr style="color: blueviolet;">
        <th>Nombre </th>
        <th>Precio</th>
    </tr>
    <% for (const producto of productos) {%>
    <tr>
        <td>
            <%=producto.nombre%>
        </td>
        <td>
            <%=producto.precio%>
        </td>
    </tr>
    <%};%>
</table>
<% } else { %>
<h4>No se encontraron productos</h4>
<% } %>